<div class="container mx-auto py-6 bg-gray-900 pt-32 pb-20 text-white">
  <section class="mb-10">
    <% if (moviesByGenre.length !== 0) { %>
    <div class="flex justify-between items-center mx-1 mb-4 pl-12 pr-12">
      <div>
        <h2 class="text-2xl font-bold">Movies of genre <%= nameGenre %></h2>
        <hr class="border-b-2 border-primary mt-1">
      </div>
      <div>
        <select id="moviesSortSelect" class="bg-gray-700 text-white rounded px-3 py-2">
          <!-- Add sorting options dynamically if needed -->
        </select>
      </div>
    </div>
    <div class="flex flex-wrap gap-6 justify-center">
      <% moviesByGenre.forEach(function(movie, index) { %>
      <%- include('../components/CardItem', { data: movie, type: 'movie' }) %>
      <% }); %>
    </div>
    <div class="pt-12">
      <div class="flex justify-center mt-4" x-data="{ currentPageMovies: <%= currentPageMovies %>, pageCountMovies: <%= pageCountMovies %>, genreName: '<%= nameGenre %>' }">
        <form method="GET" x-bind:action="constructFormAction('pageMovies', currentPageMovies, genreName)">
          <input type="hidden" name="pageMovies" x-model="currentPageMovies">
          <ul class="flex list-none">
            <li>
              <button @click="if(currentPageMovies > 1) currentPageMovies--; else currentPageMovies = 1;" class="px-3 py-2 mx-1 rounded-md text-white hover:bg-gray-400 hover:text-gray-800 transition duration-300 cursor-pointer" :class="{ 'bg-gray-700': currentPageMovies === 1 }">
                <i class="fas fa-angle-double-left"></i>
              </button>
            </li>
            <li>
              <button @click="if(currentPageMovies > 1) currentPageMovies--;" class="px-3 py-2 mx-1 rounded-md text-white hover:bg-gray-400 hover:text-gray-800 transition duration-300 cursor-pointer" :class="{ 'bg-gray-700': currentPageMovies === 1 }">
                <i class="fas fa-angle-left"></i>
              </button>
            </li>
            <template x-for="page in [...Array(pageCountMovies).keys()].map(i => i + 1)" :key="page">
              <li>
                <button @click="currentPageMovies = page;" class="px-3 py-2 mx-1 rounded-md text-white hover:bg-gray-400 hover:text-gray-800 transition duration-300 cursor-pointer" :class="{ 'bg-blue-600': currentPageMovies === page }">
                  <span x-text="page" class="text-white"></span>
                </button>
              </li>
            </template>
            <li>
              <button @click="if(currentPageMovies < pageCountMovies) currentPageMovies++;" class="px-3 py-2 mx-1 rounded-md text-white hover:bg-gray-400 hover:text-gray-800 transition duration-300 cursor-pointer" :class="{ 'bg-gray-700': currentPageMovies === pageCountMovies }">
                <i class="fas fa-angle-right"></i>
              </button>
            </li>
            <li>
              <button @click="if(currentPageMovies < pageCountMovies) currentPageMovies = pageCountMovies;" class="px-3 py-2 mx-1 rounded-md text-white hover:bg-gray-400 hover:text-gray-800 transition duration-300 cursor-pointer" :class="{ 'bg-gray-700': currentPageMovies === pageCountMovies }">
                <i class="fas fa-angle-double-right"></i>
              </button>
            </li>
          </ul>
          <button type="submit" class="hidden"></button> <!-- Hidden submit button to trigger form submission -->
        </form>
      </div>
    </div>
    <% } else { %>
    <div class="flex items-center justify-center h-64">
      <h1 class="text-xl text-center">No movie found with this genre.</h1>
    </div>
    <% } %>
  </section>
  <section>
    <% if (seriesByGenre.length !== 0) { %>
    <div class="flex justify-between items-center mx-1 mb-4 pl-12 pr-12">
      <div>
        <h2 class="text-2xl font-bold">Series of genre <%= nameGenre %></h2>
        <hr class="border-b-2 border-primary mt-1">
      </div>
      <div>
        <select id="seriesSortSelect" class="bg-gray-700 text-white rounded px-3 py-2">
          <!-- Add sorting options dynamically if needed -->
        </select>
      </div>
    </div>
    <div class="flex flex-wrap gap-6 justify-center">
      <% seriesByGenre.forEach(function(serie, index) { %>
      <%- include('../components/CardItem', { data: serie, type: 'serie' }) %>
      <% }); %>
    </div>
    <div class="pt-12">
      <div class="flex justify-center mt-4" x-data="{ currentPageSeries: <%= currentPageSeries %>, pageCountSeries: <%= pageCountSeries %>, genreName: '<%= nameGenre %>' }">
        <form method="GET" x-bind:action="constructFormAction('pageSeries', currentPageSeries, genreName)">
          <input type="hidden" name="pageSeries" x-model="currentPageSeries">
          <ul class="flex list-none">
            <li>
              <button @click="if(currentPageSeries > 1) currentPageSeries--; else currentPageSeries = 1;" class="px-3 py-2 mx-1 rounded-md text-white hover:bg-gray-400 hover:text-gray-800 transition duration-300 cursor-pointer" :class="{ 'bg-gray-700': currentPageSeries === 1 }">
                <i class="fas fa-angle-double-left"></i>
              </button>
            </li>
            <li>
              <button @click="if(currentPageSeries > 1) currentPageSeries--;" class="px-3 py-2 mx-1 rounded-md text-white hover:bg-gray-400 hover:text-gray-800 transition duration-300 cursor-pointer" :class="{ 'bg-gray-700': currentPageSeries === 1 }">
                <i class="fas fa-angle-left"></i>
              </button>
            </li>
            <template x-for="page in [...Array(pageCountSeries).keys()].map(i => i + 1)" :key="page">
              <li>
                <button @click="currentPageSeries = page;" class="px-3 py-2 mx-1 rounded-md text-white hover:bg-gray-400 hover:text-gray-800 transition duration-300 cursor-pointer" :class="{ 'bg-blue-600': currentPageSeries === page }">
                  <span x-text="page" class="text-white"></span>
                </button>
              </li>
            </template>
            <li>
              <button @click="if(currentPageSeries < pageCountSeries) currentPageSeries++;" class="px-3 py-2 mx-1 rounded-md text-white hover:bg-gray-400 hover:text-gray-800 transition duration-300 cursor-pointer" :class="{ 'bg-gray-700': currentPageSeries === pageCountSeries }">
                <i class="fas fa-angle-right"></i>
              </button>
            </li>
            <li>
              <button @click="if(currentPageSeries < pageCountSeries) currentPageSeries = pageCountSeries;" class="px-3 py-2 mx-1 rounded-md text-white hover:bg-gray-400 hover:text-gray-800 transition duration-300 cursor-pointer" :class="{ 'bg-gray-700': currentPageSeries === pageCountSeries }">
                <i class="fas fa-angle-double-right"></i>
              </button>
            </li>
          </ul>
          <button type="submit" class="hidden"></button> <!-- Hidden submit button to trigger form submission -->
        </form>
      </div>
    </div>
    <% } else { %>
    <div class="flex items-center justify-center h-64">
      <h1 class="text-xl text-center">No series found with this genre.</h1>
    </div>
    <% } %>
  </section>
</div>

<script>
  function constructFormAction(paginationType, currentPage, genreName) {
    let actionUrl = `/genres/${genreName}`;
    actionUrl += `?page${paginationType}=${currentPage}`;
    return actionUrl;
  }
</script>