<div class="container mx-auto py-6 bg-gray-900 pt-32 pb-20 text-white">
    <section class="mb-10">
        <% if (moviesByGenre.length !== 0) { %>
            <div class="flex justify-between items-center mx-1 mb-4 pl-12 pr-12">
                <div>
                    <h2 class="text-2xl font-bold">Movies of genre <%= nameGenre %></h2>
                    <hr class="border-b-2 border-primary mt-1">
                </div>
                <div>
                    <select id="moviesSortSelect" class="bg-gray-700 text-white rounded px-3 py-2">
                        <!-- Add sorting options dynamically if needed -->
                    </select>
                </div>
            </div>
            <div class="flex flex-wrap gap-6 justify-center">
                <% moviesByGenre.forEach(function(movie, index) { %>
                        <%- include('../components/CardItem', { data: movie, type: 'movie' }) %>
                <% }); %>
            </div>
            <div class="pt-12">
                <%- include('../components/Pagination', { currentPage: currentPageMovies, pageCount: pageCountMovies }) %>
            </div>
        <% } else { %>
            <div class="flex items-center justify-center h-64">
                <h1 class="text-xl text-center">No movie found with this genre.</h1>
            </div>
        <% } %>
    </section>
    <section>
        <% if (seriesByGenre.length !== 0) { %>
            <div class="flex justify-between items-center mx-1 mb-4 pl-12 pr-12">
                <div>
                    <h2 class="text-2xl font-bold">Series of genre <%= nameGenre %></h2>
                    <hr class="border-b-2 border-primary mt-1">
                </div>
                <div>
                    <select id="seriesSortSelect" class="bg-gray-700 text-white rounded px-3 py-2">
                        <!-- Add sorting options dynamically if needed -->
                    </select>
                </div>
            </div>
            <div class="flex flex-wrap gap-6 justify-center">
                <% seriesByGenre.forEach(function(serie, index) { %>
                        <%- include('../components/CardItem', { data: serie, type: 'serie' }) %>
                <% }); %>
            </div>
            <div class="pt-12">
                <%- include('../components/Pagination', { currentPage: currentPageSeries, pageCount: pageCountSeries }) %>
            </div>
        <% } else { %>
            <div class="flex items-center justify-center h-64">
                <h1 class="text-xl text-center">No series found with this genre.</h1>
            </div>
        <% } %>
    </section>
</div>