<div class="bg-gray-900 text-white pt-32 pb-20">
  <section class="max-w-4xl mx-auto p-6 bg-gray-800 rounded-lg shadow-lg">
    <div class="flex flex-col md:flex-row items-center gap-8">
      <div class="w-full md:w-1/3">
        <img src="<%= movie.photoSrc %>" alt="<%= movie.title %>" class="rounded-lg shadow-lg" />
      </div>
      <div class="w-full md:w-2/3 mt-4 md:mt-0 md:ml-6">
        <h2 class="text-3xl font-semibold mb-2 text-center"><%= movie.title %></h2>
        <div class="flex space-x-2 mb-4 justify-center pt-2">
          <% movie.genres.forEach(function(genre) { %>
          <a href="/genres/<%= genre.genre.name %>">
            <span class="bg-gray-700 text-gray-300 px-3 py-1 rounded-full"><%= genre.genre.name %></span>
          </a>
          <% }); %>
        </div>
        <div class="flex items-center space-x-4 mb-4 justify-center pt-2">
          <div class="flex items-center">
            <i class="far fa-clock text-gray-400"></i>
            <span class="ml-1"><%= movie.duration %></span>
          </div>
          <div class="flex items-center">
            <i class="far fa-calendar-alt text-gray-400"></i>
            <span class="ml-1"><%= movie.releaseYear %></span>
          </div>
          <div class="flex items-center justify-center">
            <i class="fas fa-star text-gray-400"></i>
            <span class="ml-1"><%= movie.averageRating %> (<%= movie.totalReviews %>)</span>
          </div>
        </div>
        <p class="text-gray-400 mb-4 text-center">
          <%= movie.description %>
        </p>
        <a href="<%= movie.trailerSrc %>" class="flex justify-center">
          <button class="flex items-center px-4 py-2 bg-gray-700 hover:bg-gray-600 text-white rounded-lg">
            <i class="fab fa-youtube mr-2"></i> Watch Trailer
          </button>
        </a>
      </div>
    </div>
  </section>
  <section class="pt-24 pl-8">
    <% if (reviews && reviews.length > 0) { %>
    <h1 class="text-4xl font-bold pb-8 text-white text-center">Reviews</h1>
    <div class="flex flex-col flex-wrap gap-6 justify-center">
      <% reviews.forEach((review) => { %>
      <%- include('../components/Review', { data: review, type: 'movie' }) %>
      <% }); %>
    </div>
    <% } %>
  </section>
  <section class="pt-20 pl-8">
    <h1 class="text-4xl font-bold pb-8 text-white">Latest Movies</h1>
    <div class="flex flex-wrap gap-6 justify-start">
      <% latestMovies && latestMovies.forEach((latestMovie) => { %>
      <%- include('../components/CardItem', { data: latestMovie, type: 'movie' }) %>
      <% }); %>
    </div>
  </section>
  <section class="pt-20 pl-8">
    <h1 class="text-4xl font-bold pb-8 text-white">Related Movies</h1>
    <div class="flex flex-wrap gap-6 justify-start">
      <% if (relatedMovies && relatedMovies.length > 0) { %>
      <% relatedMovies.forEach((relatedMovie) => { %>
      <%- include('../components/CardItem', { data: relatedMovie, type: 'movie' }) %>
      <% }); %>
      <% } else { %>
      <p>No related movies found.</p>
      <% } %>
    </div>
  </section>
</div>