<section class="max-w-4xl mx-auto p-6 bg-gray-800 rounded-lg shadow-lg">
    <div class="flex flex-col md:flex-row items-center">
        <div class="w-full md:w-1/3">
            <img src="<%= movie.photoSrc %>" alt="<%= movie.title %>" class="rounded-lg shadow-lg" />
        </div>
        <div class="w-full md:w-2/3 mt-4 md:mt-0 md:ml-6">
            <h2 class="text-3xl font-semibold mb-2"><%= movie.title %></h2>
            <div class="flex space-x-2 mb-4">
                <% movie.genres.forEach(function(genre) { %>
                    <a href="/genres/<%= genre.genre.name %>">
                        <span class="bg-gray-700 text-gray-300 px-3 py-1 rounded-full"><%= genre.genre.name %></span>
                    </a>
                <% }); %>
            </div>
            <div class="flex items-center space-x-4 mb-4">
                <div class="flex items-center">
                    <i class="far fa-clock text-gray-400"></i>
                    <span class="ml-1"><%= movie.duration %></span>
                </div>
                <div class="flex items-center">
                    <i class="far fa-calendar-alt text-gray-400"></i>
                    <span class="ml-1"><%= movie.releaseYear %></span>
                </div>
                <div class="flex items-center">
                    <i class="fas fa-star text-gray-400"></i>
                    <span class="ml-1"><%= movie.averageRating %></span>
                </div>
                <div class="flex items-center">
                    <i class="fas fa-star-half-alt text-gray-400"></i>
                    <span class="ml-1"><%= movie.totalReviews %> Reviews</span>
                </div>
            </div>
            <p class="text-gray-400 mb-4">
                <%= movie.description %>
            </p>
            <a href="<%= movie.trailerSrc %>">
            <button class="flex items-center px-4 py-2 bg-gray-700 hover:bg-gray-600 text-white rounded-lg">
                <i class="fab fa-youtube mr-2"></i> Watch Trailer
            </button>
            </a>
        </div>
    </div>
</section>
<section class="pt-20 pl-8">
    <h1 class="text-4xl font-bold pb-8 text-white">Latest Movies</h1>
    <div class="flex flex-wrap gap-6 justify-start">
        <% latestMovies && latestMovies.forEach(function(latestMovie) { %>
            <%- include('../components/cardItem', { data: latestMovie, type: 'movie' }) %>
        <% }); %>
    </div>
</section>
<section class="pt-20 pl-8">
    <h1 class="text-4xl font-bold pb-8 text-white">Related Movies</h1>
    <div class="flex flex-wrap gap-6 justify-start">
        <% if (relatedMovies && relatedMovies.length > 0) { %>
            <% relatedMovies.forEach(function(relatedMovie) { %>
                <%- include('../components/cardItem', { data: relatedMovie, type: 'movie' }) %>
            <% }); %>
        <% } else { %>
            <p>No related movies found.</p>
        <% } %>
    </div>
</section>