<!doctype html>
<html lang="en">
    <head>
        <title><%- title %></title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content=<%- description %>>
        <link rel="canonical" href="https://example.com/<%= canonical %>" />
        <!-- <link rel="stylesheet" href="styles/style.css" /> -->
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body>
        <%- include('../components/header.ejs') %>
        <main><%- body %></main>
        <%- include('../components/footer.ejs') %>
    </body>
</html>
